<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicinecost">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineCost"
        android:usesCleartextTraffic="true">
        <activity android:name=".deleteActivity"></activity>
        <activity android:name=".local_database_data" />
        <activity android:name=".Insert" />
        <activity android:name=".Searched_item" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MedicineCost.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>